html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: darkseagreen;
  height: 100vh;
  width: 100vw;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tabs {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 50%;
}

#tabs > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(133, 145, 133);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

#tabs > div:first-child {
  margin-left: 20px;
}

#tabs > div:not(:first-child) {
  margin-left: 10px;
}

#tabs > div:not(.active):hover {
  background: rgb(232, 237, 232);
}

#tabs > .active {
  background: white;
  border-bottom: 0;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 20px;
}

.has-tooltip {
  position: relative;
  display: inline-block;
}

.has-tooltip .tooltip {
  visibility: hidden;

  /* Alignment */
  position: absolute; /* Important that parent is relative so the positioning is absolute relatively to its parent */
  width: 150px;
  top: 150%; /* Position the content down by 100% of the height of parent (put at the bottom) */
  left: 50%; /* Position the content left by 50% of the width of parent (put in the middle) */ 
  margin-left: -80px; /* Position the tooltip content half of its width (and padding) to center itself of parent */
  z-index: 1; /* Set higher index so it will lay itself over the parent element */

  /* Styling */
  background-color: rgb(170, 210, 230);
  border-radius: 8px;
  padding: 10px;
  color: #222;
  font-size: 14px;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
}

.has-tooltip .tooltip::after {
  content: ' ';
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(170, 210, 230);
}