html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 75%;
}

.content-element {
  border: 1px solid gray;
  background-color: #eee;
  padding: 8px;
}

.content-element:not(:first-child) {
  margin-top: 8px;
}

#countdown {
  margin-left: 8px;
}

/** Generic classes for combinations */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-right:not(:first-child) {
  margin-left: 8px;
}

.float-clear {
  clear: both;
}

.section {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.section > *:not(:last-child) {
  margin: 0 0 8px 0;
}

.section-element {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

fieldset {
  border: none;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
