/*
 * This style sheet contains styling for the fundamental layout of the content, which
 * is done for an increased readability / usability.
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #454C56;
  margin: 0;
  align-items: center;
  justify-content: center;
}

body, .container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 70%;
  max-width: 1080px;
  background: white;
  padding: 20px;
  margin: 0;
}

.section {
  margin-bottom: 0px;
}

.section > h3 {
  margin: 18px 0 4px 0;
}

pre {
  text-overflow: ellipsis;
  overflow: hidden; /* Do not show any excess chars */
  white-space: nowrap; /* Force text to a single line */
  width: 100%;
  margin: 0 0 16px 0;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  color: #444;
  display: block;
  padding: 8px;
  margin: 0;
}

pre > span {
  color: #222;
  font-style: italic;
  margin: 0 0 4px 0;
}

.demonstration {
  border: 1px solid #999;
  padding: 8px;
  margin: 0 0 16px 0;
}

.references > a {
  display: block; /* Breaks into a new line instead of spanning */
}
